<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="containter">
      <h1><%= title %></h1>
      <p>all the things for <%= date %></p>
      <img src="/images/20180914.jpg" />
      <img src="/images/d1.jpg" />
      <img src="/images/m1.jpg" />
      <img src="/images/p1.jpg" />
      <img src="/images/c1.jpg" />
      <img src="/images/m2.jpg" />
    </div>
  </body>
</html>
